<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="MYSQL" />
        <property name="dbName" value="edu_school" />
        <property name="systemDBName" value="edu_school" />
    </properties>
    <settings>
        <setting name="lazyLoadingEnabled" value="true" />
        <!--延迟加载时按需加载属性 -->
        <setting name="aggressiveLazyLoading" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.ObjectTypeHandler" />
    </typeHandlers>
<!--    <plugins>-->
<!--        <plugin interceptor="com.eic.jcpt.common.mybatis.PageInterceptor">-->
<!--            <property name="a" value="a" />-->
<!--            <property name="b" value="b" />-->
<!--        </plugin>-->
<!--    </plugins>-->
</configuration>
